Package: geng-settings-tools
Version: 2.1.0
Section: utils
Priority: optional
Architecture: all
Depends: python3, python3-pyqt6
Maintainer: Thammasorn Musikapun <gtzx26@gmail.com>
Description: Geng Settings Tools for Linux Mint Cinnamon.
 A simple tool to manage keyboard settings and system updates.
