[Desktop Entry]
Name=Geng Setting Tools
Comment=Utilities for Linux Mint Cinnamon setup and maintenance
Exec=geng-setting-tools
Icon=preferences-system
Terminal=false
Type=Application
Categories=Settings;System;
Keywords=Mint;Cinnamon;Keyboard;System;
StartupNotify=true
