[Desktop Entry]
Version=2.1.0
Type=Application
Name=Geng Settings Tools
Comment=A multi-language settings tool for Linux Mint Cinnamon and other Debian-based systems.
Exec=geng-settings-tools
Icon=geng-settings-tools
Terminal=false
Categories=Settings;System;
Keywords=Settings;System;Tools;Geng;Mint;Cinnamon;
StartupNotify=true
X-GNOME-Autostart-enabled=true
